DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME
SECRET_KEY=change-me
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1
COOKIE_SECURE=0
ANILIST_REDIRECT_URI=change-me
ANILIST_CLIENT_ID=change-me
ANILIST_CLIENT_SECRET=change-me